In [58]:
import pandas as pd


puppy_info=pd.read_excel("PuppyInfo.xls")

In [59]:
puppy_info.head()

,SurveyID,ogr_DogID,Raiser_psn_PersonID,ogr_DateStart,ogr_DateEnd,DOB,Dog,Tattoo,Age,Breed,...,EarsComments,NailCutting,NailsComments,AttendsClasses,AttendClassesComments,NumberClasses3Months,BehavesWellClass,AttendsHomeSwitches,NbrOvernights3Mo,GeneralComments
0,2822,20446,28298.0,2015-12-14,NaN,2015-09-20 00:00:00,Lucille,13L315,4 months,lab,...,haven't done,3.0,haven't done,3.0,,only 2 classes,3,3,none,I did my best but some i wasn't sure of.
1,2096,20427,2481.0,2015-12-12,NaN,2015-09-19 00:00:00,Janelle,9J315,3.5 months,Labrador Retriever,...,NaN,5.0,NaN,5.0,NaN,all GEB and 3 CABTC classes so far,5,5,na,Please send me an electronic copy of this eval...
2,2313,20423,28396.0,2015-12-05,NaN,2015-09-19 00:00:00,Junior,5J315,4 mos,yellow lab,...,NaN,5.0,NaN,5.0,NaN,attends weekly - hasn't missed any classes yet,5,5,one week away with a sitter - he was fine,NaN
3,2172,20421,28143.0,2015-11-21,NaN,2015-09-19 00:00:00,Jess,3J315,4 months,Labrador Retriever,...,NaN,4.0,NaN,5.0,We have only missed one optional social.,7 or 8 I think,3,5,She had one three night stay with another fami...,Jess is a very adventurous and bold puppy. Sh...
4,2154,20420,28326.0,2015-11-21,NaN,2015-09-19 00:00:00,Jenny,2J315,16 weeks,Labrador,...,NaN,1.0,"trying hard, she is very uncomfortable with this",5.0,NaN,all,3,3,none,Haven't had any home switches yet.

In [ ]:
pd.read_excel()

In [60]:
import re
from collections import Counter

# number_messy = ["123 lkj", "18357-sdlfk", "12-124 kljsldkfj", "-135928340aksdfjalsdf", "at least 2.5 hours a day"]

def getFirstNumber(string):
    find_num = re.search(r'\d+', string)
    if(find_num == None):
        # Process words into numbers
        if "one" in string or "an hour" in string:
            return 60
        elif "two" in string:
            return 120
        elif "three" in string:
            return 180
        elif "hour and half" in string:
            return 90
        elif "twenty" in string:
            return 20
        elif "forty" in string:
            return 45
        elif "hour" in string and not "hours" in string:
            return 60
        return 0
    
    # Process numbers into minute values
    num = int(find_num.group())
    if int(num < 10):
        return num*60
    return num

def averageTime(num, replaceZeroValue = 60):
    if num == 0:
        return replaceZeroValue
    
    time_classes = [0, 20, 40, 60, 90, 120, 180, 440]
    for time_val in time_classes:
        if time_val >= num:
            return time_val
    
    return 440
    

# print(list(map(lambda x: getFirstNumber(x), number_messy)))

puppy_exercise_amt = puppy_info["ExericeAmount"].map(lambda x: str(x).lower())
distinct_exericse_amt = puppy_exercise_amt.unique()

exercise_amt_processed = list(map(lambda x: averageTime(int(x), 60), map(lambda x: getFirstNumber(str(x)), distinct_exericse_amt)))

exercise_unique_values = Counter(exercise_amt_processed)
exercise_unique_values

Counter({20: 111, 40: 255, 60: 672, 90: 129, 120: 292, 180: 125, 440: 56})

In [61]:
puppy_info["ExericeAmount"].head()

0     90
1    120
2    120
3    100
4    300
Name: ExericeAmount, dtype: object

In [65]:
puppy_exercise_amt = puppy_info["ExericeAmount"].map(lambda x: str(x).lower())
puppy_exercise_processed = list(map(lambda x: averageTime(int(getFirstNumber(str(x)))), puppy_exercise_amt))

puppy_info["ExericeAmount"] = puppy_exercise_processed
puppy_info["ExericeAmount"].head()

0     90
1    120
2    120
3    120
4    440
Name: ExericeAmount, dtype: int64